/bin/
/gen/
/obj/
/libs/
/testlog/
**/*.o
**/*.d
**/._*
/jni/olsrd_builddata_android.c
/local.properties
/assets/serval.zip
/assets/manifest
/data/bin/
/res/values/version.xml
.DS_Store
proguard-project.txt
/jni/serval-dna/*~
/jni/serval-dna/win32/Debug
/jni/serval-dna/win32/Release
/jni/serval-dna/*.user
/jni/serval-dna/*.ncb
/jni/serval-dna/*.o
/jni/serval-dna/*.a
/jni/serval-dna/*.suo
/jni/serval-dna/.*.sw?
/jni/serval-dna/configure
/jni/serval-dna/autom4te.cache
/jni/serval-dna/Makefile
/jni/serval-dna/testconfig.sh
/jni/serval-dna/config.log
/jni/serval-dna/config.status
/jni/serval-dna/nacl/nacl-20110221/build
/jni/serval-dna/nacl/naclinc.txt
/jni/serval-dna/nacl/nacllib.txt
/jni/serval-dna/serval.c
/jni/serval-dna/servald
/jni/serval-dna/directory_service
/jni/serval-dna/tfw_createfile
/jni/serval-dna/*.so
/jni/serval-dna/test.*.log
/jni/serval-dna/testlog
